
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

body {
  text-align: center;
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: 'Knewave', cursive;
  overflow: hidden;


}

.winLose{
 
  position: absolute;
  top: 15%;
  left: 15%;
    font-family: 'Rubik Marker Hatch', cursive;
    margin-top: 2rem ;
    font-size: 4rem;
    text-align: center;
    text-shadow: 11px -11px 45px rgba(255, 255, 255, 0.884);
}
.spacer {
  /* width: 100%; */
 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./layered-waves-haikei.svg');
}

.drawing {

  position: relative;
  scale: 0.75;
  bottom: 50px ;
}

.stickman{
  animation: hang 1s infinite ease-in-out ;
}

.refresh {
  position: relative;
  bottom: 70px;
}

.word-container {
  bottom: 100px;
  display: flex;
  position: relative;
  gap: .25em;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem;
  text-transform:uppercase;
}

.wordLetter{
  width: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer; 
  box-shadow: 3px 4px 33px 22px rgba(136, 85, 85, 0.459);
  border-radius: 50%;
  background: #cca92c;
  color: #213547;
  animation: pulse 1s infinite ;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);

}


.wordLetter:hover{
  scale: 1.1;
  transition: .3s;
}
.wordLetter:active{
  transition: .3s;
  scale:0.9
}

.reveal{
  color: #c62368;
  text-shadow: 3px 3px 33px white;
}



@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    transform: translate(0px, 0px);
  }
  25% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 3px  3px 3px 7px rgba(204,169,44, 0);
      transform: translate(0px, 1px);
      transition: .3s;
  }
  50% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 1 1 1 2 rgba(204,169,44, 0);
      transform: translate(0px, 2px);
      transition: .3s;
  }
  75% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow:  1px  1px 1px 13px rgba(204,169,44, 0);
      transform: translate(0px, 1px);
      transition: .3s;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow:  1px  1px 1px 13px rgba(204,169,44, 0);
      transform: translate(0px, 0px);
      transition: .3s;
  }

}

@keyframes hang {
  50% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }


}



.keyBoard-container {
  
  position: relative;
  bottom: 80px;
  border-radius: 30px;
  border: 2px solid;
  padding: 1rem;
  background-color: #3748579f;
  box-shadow: -3px -4px 3px 3px rgba(33, 33, 33, .6);
  
}

.keyBoard3{
  position: relative;
  right: 25px;
}

.key {
  border-radius: 13px;
  border: 2px solid black;
  margin: .11rem;
  width: 45px;
  height: 45px;
  font-size: 1.3rem;
  color: hsl(200, 25%, 25%);
  box-shadow: 6px -2px  3px rgba(0,0,0, 1);
  cursor: pointer;
  transition: .1s;
  aspect-ratio: 1/1;
  font-weight: bold;
  text-transform: uppercase;
}

.key:is(:disabled){
  cursor: auto;
}
.key:hover:not(:disabled){
  background-color: hsl(250, 13%, 25%);
  color: hsl(250, 13%, 75%);
  transition: .1s;
  box-shadow: 3px 3px  1px rgba(0,0,0, .6);
}

.key:hover:not(:disabled)::before{
    box-shadow: 1px -1px  1px rgba(185, 181, 181, 0.097);
}

.key:active:not(:disabled){
  scale:0.93;
  box-shadow: 0px 0px  0px rgba(185, 181, 181, 0.37);
  color: hsl(200, 30%, 95%);
  background-color: hsl(195, 8%, 10%);
}
.key:active:not(:disabled)::before{
  scale:0.93;
  box-shadow: 6px -1px  3px rgba(0, 0, 0, 0.8);
}

.key.active {
  scale:0.93;
  box-shadow: 0px 0px  0px rgba(185, 181, 181, 0.37);
  color: hsl(200, 30%, 95%);
  background-color: hsl(195, 8%, 10%);
}

.key.active::before{
  scale:0.93;
  box-shadow: 0px 0px  0px rgba(0, 0, 0, 0.4);
}

.key.inacive{
  opacity: .3;
  scale:0.97;
  box-shadow: 0px 0px  0px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 900px){ 

    .spacer {
      height: 100vh;
    }
    .drawing{
      scale: 0.8;
      /* bottom: 100px ; */
    }

    .word-container {
      scale: 0.6;
    }

    .key{
      width: 31px;
      height: 31px;
      border-radius: 10px;
    }
}


/* CSS */
.button-89 {
  cursor: pointer;
  margin-bottom: 2rem;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #fdfdff;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}